<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web xem phim 24h</title>
    <style>
        #NLH {
            padding-left: 50px;
  
        }
        
        h1,#text {
            background-color:blueviolet;
            text-align: center;
            margin: auto;
            width: 100%;
            padding: 10px;
        }
        #anh1 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        
    </style>
    <script>
        //alert("WEB COI PHIM HÀNG ĐẦU VIỆT NAM")
    </script>
</head>
<body>
    <h1>COI PHIM CHÙA LO CHUYỆN NGƯỜI TA</h1>
    <div1>
        
        <img id="anh1" src="wl-op-5s.jpg"/>
        

    </div1>
    <h2 id="text"> NGÔ LAN HƯƠNG</h2>
    <div id="NLH">
    <div3 id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VMYVxlVXmTo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/S9kNSAXJqoo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div3>
    <div4 id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lrBEwpAYqhU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </div4>
    </div>
    <h2 id="text">
        PHAN MẠNH QUỲNH
    </h2>
    <div5 id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0VC6euBtKkk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div5>
    
</body>
</html>